<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p></p>
<p>私の名前は溝口晃平です</p>
<p></p><span style="width:300;height:50;font-size:10pt;color:blue;filter:wave(freq=6,Strength=3,);">
休日はスマホのゲームをしています。
</span></p>
<span style="width:300;height:50;font-size:10pt;color:red;filter:wave(freq=6,Strength=3,);">
出身地は佐賀です。
</span>
<marquee behavior="alternate" direction="up" height="50"><marquee direction="right">よろしくお願いします</marquee></marquee>
<%=image_tag "images1.jpg" %>
